<a href="https://colab.research.google.com/github/ARTAA123/TelecomX_alura/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Telecom X - An√°lisis de Evasi√≥n de Clientes


Has sido contratado como asistente de an√°lisis de datos en Telecom X y formar√°s parte del proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la p√©rdida de clientes.

Tu desaf√≠o ser√° recopilar, procesar y analizar los datos, utilizando Python y sus principales bibliotecas para extraer informaci√≥n valiosa. A partir de tu an√°lisis, el equipo de Data Science podr√° avanzar en modelos predictivos y desarrollar estrategias para reducir la evasi√≥n.
¬øQu√© vas a practicar?

‚úÖ Importar y manipular datos desde una API de manera eficiente.

‚úÖ Aplicar los conceptos de ETL (Extracci√≥n, Transformaci√≥n y Carga) en la preparaci√≥n de los datos.

‚úÖ Crear visualizaciones estrat√©gicas para identificar patrones y tendencias.

‚úÖ Realizar un An√°lisis Exploratorio de Datos (EDA) y generar un informe con insights relevantes.

¬°Ahora es tu turno! üöÄ Usa tus conocimientos para transformar datos en informaci√≥n estrat√©gica y ayudar a Telecom X a retener m√°s clientes.

#üìå Extracci√≥n

In [26]:
#link del json con los datos
url ='https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

### Importaci√≥n de la informaci√≥n desde una url y normalizaci√≥n de las columnas

In [43]:
import pandas as pd
import requests

response = requests.get(url)
data = response.json()
data = pd.json_normalize(data)
data

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [61]:
print(data.isnull().sum())

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [62]:
print((df.isnull().sum() / len(df)) * 100)

customerID                   0.0
Churn                        0.0
customer.gender              0.0
customer.SeniorCitizen       0.0
customer.Partner             0.0
customer.Dependents          0.0
customer.tenure              0.0
phone.PhoneService           0.0
phone.MultipleLines          0.0
internet.InternetService     0.0
internet.OnlineSecurity      0.0
internet.OnlineBackup        0.0
internet.DeviceProtection    0.0
internet.TechSupport         0.0
internet.StreamingTV         0.0
internet.StreamingMovies     0.0
account.Contract             0.0
account.PaperlessBilling     0.0
account.PaymentMethod        0.0
account.Charges.Monthly      0.0
account.Charges.Total        0.0
dtype: float64

#üîß Transformaci√≥n

¬øQu√© debes hacer?

‚úÖ Explorar las columnas del dataset y verificar sus tipos de datos.

‚úÖ Consultar el diccionario para comprender mejor el significado de las variables.

‚úÖ Identificar las columnas m√°s relevantes para el an√°lisis de evasi√≥n.

### Exploraci√≥n del dataframe

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [44]:
print(data.columns)

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

### Consulta del diccionario para comprensi√≥n de las variables

In [45]:
data.dtypes

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object

### Comprobaci√≥n de incoherencias en los datos

In [47]:
pd.unique(data['customerID'])

array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object)

In [48]:
pd.unique(data['Churn'])

array(['No', 'Yes', ''], dtype=object)

In [52]:
pd.unique(data['account.Charges.Total'])

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

In [56]:
pd.unique(data['account.Contract'])

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [57]:
pd.unique(data['account.PaymentMethod'])

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [60]:
pd.unique(data['account.Charges.Monthly'])

array([65.6 , 59.9 , 73.9 , ..., 91.75, 68.8 , 67.85])

In [53]:
data.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

### Transformaci√≥n de los datos

In [63]:
#Transformaci√≥n de columnas Si y No a 1 y 0 binarios
binarias = [
    'Churn', 'customer.Partner', 'customer.Dependents', 'phone.PhoneService',
    'account.PaperlessBilling',
    'internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection',
    'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies'
    ]
for col in binarias:
    data[col] = data[col].map({'Yes': 1, 'No': 0})

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7043 non-null   float64
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   int64
 5   customer.Dependents        7267 non-null   int64
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   int64
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    5686 non-null   float64
 11  internet.OnlineBackup      5686 non-null   float64
 12  internet.DeviceProtection  5686 non-null   float64
 13  internet.TechSupport       5686 non-null   float64
 14  internet.StreamingTV       5686 non-null   float64
 15  internet.StreamingMovies   5686 non-null   float64
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   int64
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(8), int64(6), object(7)
memory usage: 1.2+ MB

In [65]:
#Transformar cusstomer.SeniorCitizen a tipo booleano
data['customer.SeniorCitizen'] = data['customer.SeniorCitizen'].astype(bool)

In [66]:
#Transformaci√≥n de los datos sobre multipleLines
#Si dice no phone cambia a no y se transforma a binario
data['phone.MultipleLines'] = data['phone.MultipleLines'].replace('No phone service', 'No')
data['phone.MultipleLines'] = data['phone.MultipleLines'].map({'Yes': 1, 'No': 0})

In [67]:
# Manejo especial para columnas con "No internet service"
cols_internet = [
    'internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection',
    'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies'
]
for col in cols_internet:
    data[col] = data[col].replace('No internet service', 'No')

In [68]:
#Transformaci√≥n de Charges a numeric
data['account.Charges.Total'] = pd.to_numeric(data['account.Charges.Total'], errors='coerce')

In [69]:
#Comprobaci√≥n de los cambios
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7043 non-null   float64
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   bool
 4   customer.Partner           7267 non-null   int64
 5   customer.Dependents        7267 non-null   int64
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   int64
 8   phone.MultipleLines        7267 non-null   int64
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    5686 non-null   float64
 11  internet.OnlineBackup      5686 non-null   float64
 12  internet.DeviceProtection  5686 non-null   float64
 13  internet.TechSupport       5686 non-null   float64
 14  internet.StreamingTV       5686 non-null   float64
 15  internet.StreamingMovies   5686 non-null   float64
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   int64
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 1.1+ MB

In [71]:
data['account.Charges.Total'].isna().sum()

np.int64(11)

In [73]:
data['account.Charges.Monthly'].isna().sum()

np.int64(0)

In [79]:
#Comprueba si los datos en cargos totales se deben a que son nuevos clientes
check =data.loc[(data['account.Charges.Total'].isna()) & (data['customer.tenure'] == 0), 'account.Charges.Total'] = 0
check

0

In [80]:
datos_clientes_data_faltantes = data.loc[data['account.Charges.Total'].isna()]
datos_clientes_data_faltantes

Empty DataFrame
Columns: [customerID, Churn, customer.gender, customer.SeniorCitizen, customer.Partner, customer.Dependents, customer.tenure, phone.PhoneService, phone.MultipleLines, internet.InternetService, internet.OnlineSecurity, internet.OnlineBackup, internet.DeviceProtection, internet.TechSupport, internet.StreamingTV, internet.StreamingMovies, account.Contract, account.PaperlessBilling, account.PaymentMethod, account.Charges.Monthly, account.Charges.Total]
Index: []

[0 rows x 21 columns]

In [72]:
data.shape

(7267, 21)

In [81]:
data

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,0.0,Female,False,1,1,9,1,0,DSL,...,1.0,0.0,1.0,1.0,0.0,One year,1,Mailed check,65.60,593.30
1,0003-MKNFE,0.0,Male,False,0,0,9,1,1,DSL,...,0.0,0.0,0.0,0.0,1.0,Month-to-month,0,Mailed check,59.90,542.40
2,0004-TLHLJ,1.0,Male,False,0,0,4,1,0,Fiber optic,...,0.0,1.0,0.0,0.0,0.0,Month-to-month,1,Electronic check,73.90,280.85
3,0011-IGKFF,1.0,Male,True,1,0,13,1,0,Fiber optic,...,1.0,1.0,0.0,1.0,1.0,Month-to-month,1,Electronic check,98.00,1237.85
4,0013-EXCHZ,1.0,Female,True,1,0,3,1,0,Fiber optic,...,0.0,0.0,1.0,1.0,0.0,Month-to-month,1,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0.0,Female,False,0,0,13,1,0,DSL,...,0.0,0.0,1.0,0.0,0.0,One year,0,Mailed check,55.15,742.90
7263,9992-RRAMN,1.0,Male,False,1,0,22,1,1,Fiber optic,...,0.0,0.0,0.0,0.0,1.0,Month-to-month,1,Electronic check,85.10,1873.70
7264,9992-UJOEL,0.0,Male,False,0,0,2,1,0,DSL,...,1.0,0.0,0.0,0.0,0.0,Month-to-month,1,Mailed check,50.30,92.75
7265,9993-LHIEB,0.0,Male,False,1,1,67,1,0,DSL,...,0.0,1.0,1.0,0.0,1.0,Two year,0,Mailed check,67.85,4627.65
7266,9995-HOTOH,0.0,Male,False,1,1,63,0,0,DSL,...,1.0,1.0,0.0,1.0,1.0,Two year,0,Electronic check,59.00,3707.60

In [84]:
data['Churn'] = data['Churn'].fillna(0).astype(int)

In [85]:
data

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,0,Female,False,1,1,9,1,0,DSL,...,1.0,0.0,1.0,1.0,0.0,One year,1,Mailed check,65.60,593.30
1,0003-MKNFE,0,Male,False,0,0,9,1,1,DSL,...,0.0,0.0,0.0,0.0,1.0,Month-to-month,0,Mailed check,59.90,542.40
2,0004-TLHLJ,1,Male,False,0,0,4,1,0,Fiber optic,...,0.0,1.0,0.0,0.0,0.0,Month-to-month,1,Electronic check,73.90,280.85
3,0011-IGKFF,1,Male,True,1,0,13,1,0,Fiber optic,...,1.0,1.0,0.0,1.0,1.0,Month-to-month,1,Electronic check,98.00,1237.85
4,0013-EXCHZ,1,Female,True,1,0,3,1,0,Fiber optic,...,0.0,0.0,1.0,1.0,0.0,Month-to-month,1,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,False,0,0,13,1,0,DSL,...,0.0,0.0,1.0,0.0,0.0,One year,0,Mailed check,55.15,742.90
7263,9992-RRAMN,1,Male,False,1,0,22,1,1,Fiber optic,...,0.0,0.0,0.0,0.0,1.0,Month-to-month,1,Electronic check,85.10,1873.70
7264,9992-UJOEL,0,Male,False,0,0,2,1,0,DSL,...,1.0,0.0,0.0,0.0,0.0,Month-to-month,1,Mailed check,50.30,92.75
7265,9993-LHIEB,0,Male,False,1,1,67,1,0,DSL,...,0.0,1.0,1.0,0.0,1.0,Two year,0,Mailed check,67.85,4627.65
7266,9995-HOTOH,0,Male,False,1,1,63,0,0,DSL,...,1.0,1.0,0.0,1.0,1.0,Two year,0,Electronic check,59.00,3707.60

In [87]:
#Rellenar valores nulos y transformarlos a int
datos_transformar =['internet.OnlineBackup','internet.DeviceProtection', 'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies']
for col in datos_transformar:
    data[col] = data[col].fillna(0).astype(int)

In [88]:
data

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,0,Female,False,1,1,9,1,0,DSL,...,1,0,1,1,0,One year,1,Mailed check,65.60,593.30
1,0003-MKNFE,0,Male,False,0,0,9,1,1,DSL,...,0,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40
2,0004-TLHLJ,1,Male,False,0,0,4,1,0,Fiber optic,...,0,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85
3,0011-IGKFF,1,Male,True,1,0,13,1,0,Fiber optic,...,1,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85
4,0013-EXCHZ,1,Female,True,1,0,3,1,0,Fiber optic,...,0,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,False,0,0,13,1,0,DSL,...,0,0,1,0,0,One year,0,Mailed check,55.15,742.90
7263,9992-RRAMN,1,Male,False,1,0,22,1,1,Fiber optic,...,0,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70
7264,9992-UJOEL,0,Male,False,0,0,2,1,0,DSL,...,1,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75
7265,9993-LHIEB,0,Male,False,1,1,67,1,0,DSL,...,0,1,1,0,1,Two year,0,Mailed check,67.85,4627.65
7266,9995-HOTOH,0,Male,False,1,1,63,0,0,DSL,...,1,1,0,1,1,Two year,0,Electronic check,59.00,3707.60

In [91]:
pd.unique(data['internet.InternetService'])

array(['DSL', 'Fiber optic', 'No'], dtype=object)

### Creaci√≥n de columna cuentas diarias

Ahora que los datos est√°n limpios, es momento de crear la columna "Cuentas_Diarias". Utiliza la facturaci√≥n mensual para calcular el valor diario, proporcionando una visi√≥n m√°s detallada del comportamiento de los clientes a lo largo del tiempo.

In [94]:
#Toma los datos de "account.Charges.Monthly" genera el cargo diario y se redondea a dos decimales
data['Cuentas_Diarias'] = (data['account.Charges.Monthly'] / 30).round(2)

In [95]:
data

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
0,0002-ORFBO,0,Female,False,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.19
1,0003-MKNFE,0,Male,False,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,0004-TLHLJ,1,Male,False,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,0011-IGKFF,1,Male,True,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,0013-EXCHZ,1,Female,True,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,False,0,0,13,1,0,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.84
7263,9992-RRAMN,1,Male,False,1,0,22,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7264,9992-UJOEL,0,Male,False,0,0,2,1,0,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.68
7265,9993-LHIEB,0,Male,False,1,1,67,1,0,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.26
7266,9995-HOTOH,0,Male,False,1,1,63,0,0,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.97

In [97]:
data.rename(columns={
    'customer.gender': 'Genero',
    'customer.SeniorCitizen': 'CiudadanoSenior',
    'customer.Partner': 'TienePareja',
    'customer.Dependents': 'TieneDependientes',
    'internet.InternetService': 'ServicioInternet',
    'account.Charges.Monthly': 'FacturacionMensual',
    'account.Charges.Total': 'FacturacionTotal',
    'account.Contract': 'TipoContrato'
}, inplace=True)
data

,customerID,Churn,Genero,CiudadanoSenior,TienePareja,TieneDependientes,customer.tenure,phone.PhoneService,phone.MultipleLines,ServicioInternet,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,TipoContrato,account.PaperlessBilling,account.PaymentMethod,FacturacionMensual,FacturacionTotal,Cuentas_Diarias
0,0002-ORFBO,0,Female,False,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.19
1,0003-MKNFE,0,Male,False,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,2.00
2,0004-TLHLJ,1,Male,False,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.46
3,0011-IGKFF,1,Male,True,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.27
4,0013-EXCHZ,1,Female,True,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,False,0,0,13,1,0,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.84
7263,9992-RRAMN,1,Male,False,1,0,22,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.84
7264,9992-UJOEL,0,Male,False,0,0,2,1,0,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.68
7265,9993-LHIEB,0,Male,False,1,1,67,1,0,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.26
7266,9995-HOTOH,0,Male,False,1,1,63,0,0,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.97

#üìä Carga y an√°lisis

#üìÑInforme final